
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito',
    sans-serif;
    background-color: #17A589;
    font-weight: 300;
    color: #2b2b2b;
    scroll-snap-type: y proximity;
}

header{
    text-align: center;
    padding: 30px 0;
}
header h1{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 36px;
}

.container{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper{
    background-color: #31b89d; 
}

/* ACCORDION */

.accordion{
    background-color: white;
}
.accordion-heading{
    background-color: #e0e0e0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}
.accordion-heading span {
    padding: 10px;
}
.accordion-heading span i {
    transition: transform .3s ease-in-out;
}
.accordion-heading h3{
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.accordion-content{
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-in;
}
.accordion-active .accordion-heading {
    background-color: #a0a0a0;
}
.accordion-active .accordion-heading span i {
    transform: rotate(225deg);
}
.accordion-active .accordion-content{
    max-height: 1000px;
}

/* BUTTONS */

.hover-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    border: none;
    cursor: pointer;
    box-shadow: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    position: relative;
    margin: 20px;
}

.btn-1 {
    background: #491616;
    color: #fff;
    border-radius: 30px;
    transition: all .25s ease;
}

.btn-1::after,
.btn-1::before {
    content: '';
    position: absolute;
    opacity: .3;
    background: #491616;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all .25s ease;
}

.btn-1:hover {
    transform: translate(12px, -12px);
}

.btn-1:hover::after {
    transform: translate(-6px, 6px);
}

.btn-1:hover::before {
    transform: translate(-12px, 12px);
}

/* Button #2 */
.btn-2{
    position: relative;
}
.btn-2:hover::after{
    transform: translate(-5px, -5px);
}
.btn-2:hover::before{
    transform: translate(5px, 5px);
}
.btn-2::before, .btn-2::after{
    content: '';
    position: absolute;
    border: 1px solid black;
    border-radius: inherit;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: transform .3s ease;
}

/* Button #3 */
.btn-3{
    background:transparent;
    position: relative;
}

.btn-3::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 10%;
    background-color:black;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s ease;
}

.btn-3:hover::after{
    width: 100%;
    background-color: green;
}

/* Button #4 */
.btn-4{
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}

.btn-4:hover{
    transform: translate(0, -0px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0 rgba(39, 200, 255, .25);
}
.btn-4::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s ease;
}
.btn-4:hover::after{
    transform: rotate(150deg);
}
/* Button #5 */
.btn-5{
    /* background-color: transparent; */
}
.btn-5:hover{
    color: #fff;
    z-index: 1;
}
.btn-5::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    top: 0;
    left: 0;
    transform: scale(.1);
    background-color: #000;
    z-index: -1;
    opacity: 0;
    transition: all .25s ease;
}

.btn-5:hover::after{
    transform: scale(1);
    opacity:1;
}

/* Button #6 */
.btn-6 {
    border: 3px solid #000;
    width: 150px;
    height: 50px;
    font-size: 20px;
    transform: skew(20deg);
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    cursor:pointer;
}
.btn-6:hover>span {
    opacity: 0;
    transform: scale(.5);
}
.btn-6:hover .effect {
    transform: translate(0);
}
.btn-6 .effect {
    position: absolute;
    background: #000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -100%);
    transition: all .25s ease;
    backface-visibility: hidden;
}

.btn-6 span {
    transform: skew(-20deg);
    display: block;
    transition: all .25s ease;
}


/* LOADING BUTTONS  */

.loading-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.loading-btn{
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border:0;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all .25s ease;
    background: rgba(116, 23, 231, 1);
    border-radius: 28px;
    color: #fff;
    overflow: hidden;
    outline: none;
}

.loading-btn:active{
    transform: scale(.85);
}

.loading-btn.active-loading .loading {
    visibility: visible;
    opacity: 1;
}
.loading-btn .loading{
    opacity: 0;
    visibility: hidden;
}

/* #1 Loading Button */

.loading-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

}

.loading-1::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 1s ease infinite;
}
.loading-1::before{
    z-index: 5;
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px dashed #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 1s linear infinite;
}


@keyframes loading1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* #2 Loading Button */

.loading-2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(116, 23, 231, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    overflow: hidden;
    outline: none;
}

.loading-2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    animation: loading2 1s ease infinite;
    z-index: 10;
    background:rgba(255, 255, 255, .25);
}
.loading-2::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: loading2 1s ease infinite;
  z-index: 10;
  background:rgba(255, 255, 255, .25);
}


@keyframes loading2 {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, -100%);
    }
}


/* #3 Loading Button */
.loading-3{
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(116, 23, 231, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    overflow: hidden;
}

.loading-3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    animation: loading3 1s ease infinite;
    z-index: 10;
    background: rgba(255,255,255,1);
    border-radius: 10px;
}

@keyframes loading3 {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

/* #4 Loading Button */

.loading-4 {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(116, 23, 231, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    overflow: hidden;
}

.loading-4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    animation: loading4 1s ease infinite;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

@keyframes loading4 {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

/*  Radio Input  */
.

/* Counter Animation */
.counter-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.counter-container{
    text-align: center;
}

.count{
    display: block;
    margin-bottom: 20px;
    font-size: 80px;
    color:#6a097d;
    margin: 0px 50px;
}
.count-detail{
    font-size: 25px;
    white-space: nowrap;
}

/* Form Section  */

.box-of-form-elements{
    display: flex;
    flex-wrap: wrap;
}
.form-box{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.form-box input {
    height: 50px;
    font-size: 22px;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
}

.form-box #myCheckBox{
    height: 50px;
    width: 50px;
}
